[submodule "tools/Responder"]
	path = tools/Responder
	url = https://github.com/lgandx/Responder
[submodule "tools/cve-2019-1040-scanner"]
	path = tools/cve-2019-1040-scanner
	url = https://github.com/fox-it/cve-2019-1040-scanner
