[submodule "submodules/Responder"]
	path = submodules/Responder
	url = https://github.com/lgandx/Responder
[submodule "submodules/cve-2019-1040-scanner"]
	path = submodules/cve-2019-1040-scanner
	url = https://github.com/fox-it/cve-2019-1040-scanner
