[submodule "tools/Responder"]
	path = tools/Responder
	url = https://github.com/lgandx/Responder/
[submodule "tools/krbrelayx"]
	path = tools/krbrelayx
	url = https://github.com/dirkjanm/krbrelayx
[submodule "tools/mitm6"]
	path = tools/mitm6
	url = https://github.com/fox-it/mitm6
[submodule "tools/PrivExchange"]
	path = tools/PrivExchange
	url = https://github.com/dirkjanm/PrivExchange
[submodule "tools/impacket"]
	path = tools/impacket
	url = https://github.com/SecureAuthCorp/impacket
[submodule "tools/cve-2019-1040-scanner"]
	path = tools/cve-2019-1040-scanner
	url = https://github.com/fox-it/cve-2019-1040-scanner
